.Modal {
    position: fixed;
    left: calc(50% - 300px);
    width: 600px;
    z-index: 500;
    border: 1px solid #00cec9;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #00cecb59;
    padding: 16px;
    box-sizing: border-box;
    transition: all .6s ease-out;
    background-color: #fbfaf8;
}

@media screen and (max-width: 650px) {
    .Modal {
        width: 300px;
        left: calc(50% - 150px);
    }
}